/* Start General Styling */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


/* body {
    height: 6500px;
} */


/* End General Styling */


/* Start Header */

.bur-icon {
    cursor: pointer;
}

header {
    display: grid;
    grid-template-columns: repeat(8, auto);
    align-items: center;
    border-bottom: 1px solid #839aaf;
    padding-left: 2%;
}

header a {
    text-decoration: none;
    font-size: 130%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

header a:hover {
    color: #839aaf;
}

header a:nth-child(8) {
    color: orangered;
}


/* Responsive Header */

@media (max-width:800px) {
    header {
        display: flex;
        flex-direction: column;
        border: none;
        margin-left: -15px;
    }
    header a {
        text-align: center;
        display: block;
        width: 100%;
        border-bottom: 2px solid hsl(0, 0%, 17%);
        padding-bottom: 2px;
    }
}


/* End Header */


/* Start Sticky Nav */

nav {
    display: grid;
    width: 100%;
    grid-template-columns: 80px 80px 80px;
    padding-left: 2%;
    padding-top: 1%;
    background-color: #839aaf;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a:nth-child(1) {
    color: orangered;
}

nav a:hover {
    color: white;
}


/* Responsive Sticky nav */

@media (max-width:290px) {
    nav {
        grid-template-columns: auto auto auto;
    }
    nav a {
        font-size: 70%;
    }
}


/* End Sticky Nav */


/* Start Go Up Button */

.go_up {
    border-radius: 50%;
    width: 40px;
    height: auto;
    position: sticky;
    top: 90%;
    left: 90%;
    z-index: 2000;
    background-color: orangered;
    text-align: center;
}

.go_up a img {
    width: auto;
    height: auto;
}


/* End Go Up Button */


/* Start About Section */

main #about {
    text-align: center;
    position: relative;
    margin-top: -3%;
}

main #about h1 {
    color: orangered;
    position: absolute;
    top: 40%;
    font-size: 580%;
    left: 40%;
    font-family: 'Oswald', sans-serif;
}

main #about img {
    width: 80%;
    height: auto;
}


/* Resbonsive About */

@media(max-width:770px) {
    main #about h1 {
        font-size: 380%;
        left: 30%;
    }
}

@media(max-width:370px) {
    main #about h1 {
        font-size: 250%;
        left: 24%;
    }
}


/* End About Section */


/* Start live Section */

main #live {
    width: 60%;
    height: auto;
    margin: auto;
    margin-top: 4%;
}

main #live p:nth-child(1) {
    font-size: 3vw;
    font-family: 'Oswald', sans-serif;
}

main #live p:nth-child(2) {
    margin-top: 5%;
    font-size: 2.5vw;
    font-family: 'Oswald', sans-serif;
    opacity: .6;
}


/* End live Section */


/* Start Push Section */

#push {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
}

#push figure figcaption {
    text-align: center;
    font-size: 200%;
}


/* Responsive Push */

@media (max-width:747px) {
    #push {
        margin-top: 2%;
        transform: scale(60%);
    }
}

@media (max-width:429px) {
    #push {
        margin-top: -30%;
        transform: scale(40%);
    }
}

@media (max-width:300px) {
    #push {
        margin-top: -50%;
        transform: scale(30%);
    }
}


/* End Push Section */


/* Start Note Section */

#note {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
    margin-top: 5%;
}

#note img {
    width: 50%;
    height: auto;
}

.inside_note {
    background-color: #b1c5ff;
    width: 50%;
}

.inside_note p {
    font-size: 200%;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}


/* Responsive Note */

@media (max-width:1000px) {
    #note {
        flex-direction: column;
        align-items: center;
    }
    #note img,
    .inside_note {
        width: 100%;
    }
}

@media (max-width:450px) {
    #note {
        margin-top: -20%;
    }
    .inside_note p {
        font-size: 100%;
    }
}


/* End Note Section */


/* Start link Section */

main #link {
    width: 60%;
    height: auto;
    margin: auto;
    margin-top: 4%;
}

main #link p:nth-child(1) {
    font-size: 3vw;
    font-family: 'Oswald', sans-serif;
}

main #link p:nth-child(2) {
    margin-top: 5%;
    font-size: 2.5vw;
    font-family: 'Oswald', sans-serif;
    opacity: .6;
}


/* End link Section */


/* Start Shop Section */

#shop {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

#shop img {
    width: 75%;
    height: auto;
}


/* End Shop Section */


/* Start Extra Section */

main .extra {
    width: 60%;
    height: auto;
    margin: auto;
    margin-top: 4%;
}

main .extra p:nth-child(1) {
    font-size: 3vw;
    font-family: 'Oswald', sans-serif;
}

main .extra p:nth-child(2) {
    margin-top: 5%;
    font-size: 1.5vw;
    font-family: 'Oswald', sans-serif;
    opacity: .7;
}


/* End Extra Section */


/* Start Packs Section */

#packs {
    height: 70vh;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #1D3557;
    margin: auto;
    margin-top: 4%;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: #F1FAEE;
    font-size: 4rem;
}

.roller {
    height: 4.125rem;
    line-height: 4rem;
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: orangered;
}

#spare-time {
    font-size: 1rem;
    font-style: italic;
    letter-spacing: 1rem;
    margin-top: 0;
    color: #A8DADC;
}

.roller #rolltext {
    position: absolute;
    top: 0;
    animation: slide 7s infinite;
}

@keyframes slide {
    0% {
        top: 0;
    }
    25% {
        top: -4rem;
    }
    50% {
        top: -8rem;
    }
    72.5% {
        top: -12.25rem;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        text-align: center;
        text-transform: uppercase;
        color: #F1FAEE;
        font-size: 2.125rem;
    }
    .roller {
        height: 2.6rem;
        line-height: 2.125rem;
    }
    #spare-time {
        font-size: 1rem;
        letter-spacing: 0.1rem;
    }
    .roller #rolltext {
        animation: slide-mob 5s infinite;
    }
    @keyframes slide-mob {
        0% {
            top: 0;
        }
        25% {
            top: -2.125rem;
        }
        50% {
            top: -4.25rem;
        }
        72.5% {
            top: -6.375rem;
        }
    }
}


/* End Packs Section */


/* Start Jobs Section */

.desc {
    font-size: 3rem;
    margin-top: 4%;
    color: #1D3557;
    position: relative;
}

.desc::before {
    content: "";
    position: absolute;
    width: 15%;
    height: 3px;
    background-color: orangered;
    top: 100%;
    left: 43%;
}

#jobs {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 2%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vw;
}

#jobs div {
    border: 2px solid black;
    width: max-content;
    height: auto;
    background-color: #1D3557;
    transition-property: filter;
    transition-duration: 0.5s;
}

#jobs div h2,
h5 {
    color: orangered;
    padding-left: 1vw;
    padding-top: 1vw;
}

#jobs div p {
    color: white;
    padding-left: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-right: 1vw;
}

#jobs div:hover {
    filter: contrast(300%);
    cursor: pointer;
}


/* End Jobs Section */


/* Start Apprenticeships Section */

.desc2 {
    font-size: 2rem;
    margin-top: 10%;
    color: #1D3557;
    position: relative;
}

.desc2::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 3px;
    background-color: orangered;
    top: 100%;
    left: 30%;
}

main #appre {
    width: 60%;
    height: auto;
    margin: auto;
    margin-top: 2%;
}

main #appre p:nth-child(1) {
    font-size: 3vw;
    font-family: 'Oswald', sans-serif;
}

main #appre p:nth-child(2) {
    margin-top: 5%;
    font-size: 1.5vw;
    font-family: 'Oswald', sans-serif;
    opacity: .7;
}

#appre2 {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

#appre2 img {
    width: 60%;
    height: auto;
}


/* End Apprenticeships Section */


/* Start Help Section */

.divider {
    width: 100%;
    height: 3px;
    background-color: hsl(0, 0%, 80%);
    margin-top: 3%;
}

.head_help {
    color: black;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: orangered;
}

.sign_to_us {
    font-size: 2em;
    margin-left: 2%;
}

.address {
    font-size: 1.2em;
    margin-left: 2%;
    opacity: .7;
}

#email {
    margin-left: 2%;
    width: 50%;
    height: 35px;
    padding: 5px;
    /* border-radius: 7px 0px 0px 7px; */
    border: none;
    background-color: #839aaf;
    color: orangered;
}

#email::placeholder {
    color: orangered;
}

#submit {
    margin-left: -.5%;
    width: 15%;
    height: 35px;
    background-color: #1D3557;
    color: orangered;
    cursor: pointer;
    border: none;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 2%;
    margin-top: 2%;
    margin-left: 2%;
}

.head_icons {
    color: orangered;
    font-size: 18px;
    text-align: start;
    margin-left: 2%;
    text-align: start;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.author {
    margin-top: 1%;
    text-align: center;
    width: 100%;
    background-color: #1D3557;
    color: orangered;
    padding-top: 4px;
    padding-bottom: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* End Help Section */